.card {
  max-width: 339px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  position: relative;
}
.card__delete-wrapper {
  position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
    background: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.card__delete-wrapper_hide {
  display: none;
}
.card__delete-icon {
  background: url("../../../images/close-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 9px;
  height: 9px;
  padding: 0;
  cursor: pointer;
}
.card:hover .card__delete-wrapper {
  display: flex;
}
.card__img {
  grid-column: span 3 / auto;
  margin: 0px 0px 10px 0px;
  width: 100%;
  object-fit: cover;
  height: 151px;
}
.card__link-img {
  grid-column: span 3 / auto;
}
.card__link-title {
  text-decoration: none;
  grid-column: span 2 / 3;
}
.card__line {
  background-color: #E8E8E8;
  height: 1px;
  width: 100%;
  border: none;
  grid-column: span 3 / auto;
  margin: 13px 0px 0px 0px;
}
.card__title {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0;
}
.card__likes {
  background-color: #F9F9F9;
  border-radius: 36px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-self: end;
  position: relative;
}
.card__like {
  position: absolute;
  left: 29.17%;
  right: 29.17%;
  top: 33.33%;
  bottom: 31.25%;
  background: url("../../../images/like-unactive.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 10px;
  height: 8.5px;
  padding: 0px;
  cursor: pointer;
}
/* .card__like:hover {
  transform: scale(1.5, 1.5);
  transition: .2s;
  background: url("../../../images/like-active.svg");
} */
.card__like_active {
  background: url("../../../images/like-active.svg");
  position: absolute;
  left: 29.17%;
  right: 29.17%;
  top: 33.33%;
  bottom: 31.25%;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  width: 10px;
  height: 8.5px;
  padding: 0px;
  cursor: pointer;
}
.card__like_active:hover {
  transform: scale(1.5, 1.5);
  transition: .2s;
}
.card__delete-wrapper:hover {
  transform: scale(1.5, 1.5);
  transition: .2s;
}
.card__duration {
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  grid-column: span 2 / auto;
  margin: 6px 0px 0px 0px;
}

@media screen and (max-width: 990px) {
  .card__img {
    height: 190px;
  }
}
@media screen and (max-width: 910px) {
  .card {
    max-width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .card__img {
    height: 151px;
  }
}