.FilterCheckbox__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 26px 0px 0px 0px;
  cursor: pointer;
}
.FilterCheckbox__switch input {
  display: none;
}
.FilterCheckbox__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 36px;
  height: 20px;
}
.FilterCheckbox__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.FilterCheckbox__slider {
  border-radius: 34px;
}
input:checked + .FilterCheckbox__slider {
  background-color: #2BE080;
}

input:focus + .FilterCheckbox__slider {
  box-shadow: 0 0 1px #2BE080;
}

input:checked + .FilterCheckbox__slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}
.FilterCheckbox__text {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 51px;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 500px) {
  .FilterCheckbox__slider {
    width: 36px;
    height: 20px;
  }
  .FilterCheckbox__slider:before {
    width: 16px;
    height: 16px;
    bottom: 2px;
  }
  input:checked + .FilterCheckbox__slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  .FilterCheckbox__text {
    top: 1px;
    left: 50px;
  }
  .FilterCheckbox__switch {
    margin: 30px 0px 63px 0px;
  }
}

@media screen and (max-width: 350px) {
  .FilterCheckbox__text {
    font-size: 11px;
  }
}